/* Variables */

:root {
    --ssize: 1rem;
    --msize: 1.6rem;
    --lsize: 2rem;
    --xlsize: 2.5rem;
}


/* GLOBALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: var(--msize);
    font-weight: 100;
    font-family: 'Dancing Script', cursive;
    line-height: 1.6;
    color: rgb(50, 50, 50);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 4rem auto;
    background-color: antiquewhite;
    width: min(65rem, 80vw);
}


/* GENERALES */

h1,
h2,
h3,
h4,
h5,
h6,
b {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: var(--xlsize);
}

h2 {
    margin-top: 3rem;
}

b {
    font-weight: 700;
    font-size: var(--lsize);
}

sub,
sup {
    font-size: var(--ssize);
}

p::first-letter,
li::first-letter {
    font-size: var(--xlsize);
}

li,
blockquote {
    margin-left: 5rem;
}

blockquote::after,
blockquote::before {
    content: " '' ";
}

a {
    color: rgb(0, 0, 0);
    font-weight: 700;
}


/* HEADER */

header {
    text-align: end;
    margin-bottom: 1rem;
}

.date {
    margin-top: 1.5rem;
}

.date--big {
    font-size: var(--xlsize);
}


/* ADDRESS */

.direccion {
    margin-bottom: 3rem;
}


/* FOOTER */

footer {
    margin-top: 3rem;
}